.yesBut{
	-fx-background-color:#A359A0;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.yesButN{
	-fx-background-color:BLACK;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.yesBut:hover,.noBut:hover{
	-fx-border-color:#59FF00;
	-fx-border-radius:50px;
	-fx-border-width:4px;
}
.yesButN:hover,.noButN:hover{
	-fx-border-color:WHITE;
	-fx-border-radius:50px;
	-fx-border-width:4px;
}
.yesBut:pressed,.yesButN:pressed,.noBut:pressed,.noButN:pressed,.b_hover:pressed,.strange_b:pressed,.subButFive:pressed,.subBut:pressed{
	-fx-scale-x:0.97;
	-fx-scale-y:0.97;
}
.noBut{
	-fx-background-color:#7F95E4;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.noButN{
	-fx-background-color:#D0A784;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.timer{
	-fx-background-radius:25px;
	-fx-background-color:WHITE;
	-fx-padding:0 0 0 30;
}
.timerF{
	-fx-background-radius:25px;
	-fx-background-color:BLACK;
	-fx-padding:0 0 0 30;
}
.timerFourteen{
	-fx-border-radius:20px;
	-fx-border-color:BLACK;
	-fx-background-color:WHITE;
}
.ansText{
	-fx-background-color:rgba(0,0,0,0.3);
	-fx-text-fill:white;
}
.subBut{
	-fx-background-color:WHITE;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.subButFourteen{
	-fx-background-color:BLACK;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.subButFourteen:hover{
	-fx-background-color:WHITE;
	-fx-border-color:BLACK;
	-fx-border-radius:50px;
}
.subButFive{
	-fx-background-color:#FF4444;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.subButFive:hover{
	-fx-background-color:WHITE;
}
.subBut:hover{
	-fx-background-color:BLACK;
}
.b_hover{
	-fx-background-color:BLACK;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.b_hover:hover,.strange_b:hover{
	-fx-background-color:#F0F5FF;
}
.strange_b{
	-fx-background-color:BLACK;
	-fx-cursor:hand;
}
.noti{
	-fx-background-color: WHITE;
	-fx-background-radius: 50px;
	-fx-border-color: #FFCC00;
	-fx-border-radius:50px;
	-fx-border-width:5;
}

/*Iq Six choice buttons */
.choiceBut{
	-fx-background-color:WHITE;
	-fx-cursor:hand;
	-fx-background-radius:15px;
}
.choiceBut:hover{
	-fx-background-color:#66676D;
}
.choiceBut:pressed{
	-fx-scale-x:0.97;
	-fx-scale-y:0.97;
}

/*Iq seven buttons */
.But{
	-fx-background-color:WHITE;
}
.ButA{
	-fx-background-color:WHITE;
	-fx-cursor:hand;
}
.ButA:pressed{
	-fx-scale-x:0.97;
	-fx-scale-y:0.97;
}

/*Iq Eight buttons */
.bBut{
	-fx-background-color:#167820;
	-fx-background-radius:25px;
	-fx-border-color:BLACK;
	-fx-border-radius:25px;
	-fx-border-width:2px;
	-fx-cursor:hand;
}
.bBut:hover{
	-fx-scale-x:1.1;
	-fx-scale-y:1.1;
}
.bBut:pressed{
	-fx-scale-x:1;
	-fx-scale-y:1;
}
/*Iq Ten buttons */
.bButT{
	-fx-background-color:WHITE;
	-fx-background-radius:25px;
	-fx-border-color:BLACK;
	-fx-border-radius:25px;
	-fx-border-width:2px;
	-fx-cursor:hand;
}
.bButT:hover{
	-fx-scale-x:1.1;
	-fx-scale-y:1.1;
}
.bButT:pressed{
	-fx-scale-x:1;
	-fx-scale-y:1;
}
/*Iq Twelve buttons */
.bButTw{
	-fx-background-color:#EBF8FE;
	-fx-background-radius:25px;
	-fx-border-color:BLACK;
	-fx-border-radius:25px;
	-fx-border-width:2px;
	-fx-cursor:hand;
}
.bButTw:hover{
	-fx-border-color:#167820;
	-fx-border-radius:25px;
	-fx-border-width:4px;
}
.bButTw:pressed{
	-fx-scale-x:0.9;
	-fx-scale-y:0.9;
}
/*Iq Thirteen choice buttons */
.choiceButTh{
	-fx-background-color:WHITE;
	-fx-cursor:hand;
	-fx-background-radius:15px;
}
.choiceButTh:hover{
	-fx-background-color:#E7F2D6;
}
.choiceButTh:pressed{
	-fx-scale-x:0.97;
	-fx-scale-y:0.97;
}
/*Iq Fifteen buttons */
.bButFift{
	-fx-background-color:#04345C;
	-fx-cursor:hand;
}
.bButFift:hover{
	-fx-scale-x:1.1;
	-fx-scale-y:1.1;
}
.bButFift:pressed{
	-fx-scale-x:1;
	-fx-scale-y:1;
}
/*Iq Ninteen buttons */
.bButNin{
	-fx-background-color:#CC1242;
	-fx-background-radius:25px;
	-fx-border-color:BLACK;
	-fx-border-radius:25px;
	-fx-border-width:2px;
	-fx-cursor:hand;
}
.bButNin:hover{
	-fx-scale-x:1.1;
	-fx-scale-y:1.1;
}
.bButNin:pressed{
	-fx-scale-x:1;
	-fx-scale-y:1;
}
/*Iq Twenty choice buttons */
.choiceButTw{
	-fx-background-color:WHITE;
	-fx-cursor:hand;
	-fx-background-radius:15px;
	-fx-border-radius:15px;
}
.choiceButTw:hover{
	-fx-border-color:#04FF86;
	-fx-border-radius:15px;
	-fx-border-width:4px;
}
.choiceButTw:pressed{
	-fx-scale-x:0.97;
	-fx-scale-y:0.97;
}
.cpi{
    -fx-accent: #F79630;
    -fx-font-size:25;
}