.yesBut{
	-fx-background-color:#A359A0;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.yesBut:hover,.noBut:hover{
	-fx-border-color:#59FF00;
	-fx-border-radius:50px;
	-fx-border-width:4px;
}
.yesBut:pressed,.noBut:pressed{
	-fx-scale-x:0.97;
	-fx-scale-y:0.97;
}
.noBut{
	-fx-background-color:#7F95E4;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.timer{
	-fx-background-radius:25px;
	-fx-background-color:WHITE;
	-fx-padding:0 0 0 30;
}