.yesBut{
	-fx-background-color:#A359A0;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.yesBut:hover,.noBut:hover{
	-fx-border-color:#59FF00;
	-fx-border-radius:50px;
	-fx-border-width:4px;
}
.yesBut:pressed,.noBut:pressed,.b_hover:pressed,.strange_b:pressed,.subButFive:pressed,.subBut:pressed{
	-fx-scale-x:0.97;
	-fx-scale-y:0.97;
}
.noBut{
	-fx-background-color:#7F95E4;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.timer{
	-fx-background-radius:25px;
	-fx-background-color:WHITE;
	-fx-padding:0 0 0 30;
}
.timerF{
	-fx-background-radius:25px;
	-fx-background-color:BLACK;
	-fx-padding:0 0 0 30;
}
.ansText{
	-fx-background-color:rgba(0,0,0,0.3);
	-fx-text-fill:white;
}
.subBut{
	-fx-background-color:WHITE;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.subButFive{
	-fx-background-color:#FF4444;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.subButFive:hover{
	-fx-background-color:WHITE;
}
.subBut:hover{
	-fx-background-color:BLACK;
}
.b_hover{
	-fx-background-color:BLACK;
	-fx-background-radius:50px;
	-fx-cursor:hand;
}
.b_hover:hover,.strange_b:hover{
	-fx-background-color:#F0F5FF;
}
.strange_b{
	-fx-background-color:BLACK;
	-fx-cursor:hand;
}
.noti{
	-fx-background-color: WHITE;
	-fx-background-radius: 50px;
	-fx-border-color: #FFCC00;
	-fx-border-radius:50px;
	-fx-border-width:5;
}

/*Iq Six choice buttons */
.choiceBut{
	-fx-background-color:WHITE;
	-fx-cursor:hand;
	-fx-background-radius:15px;
}
.choiceBut:hover{
	-fx-background-color:#66676D;
}
.choiceBut:pressed{
	-fx-scale-x:0.97;
	-fx-scale-y:0.97;
}